Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

fix(container): update talos group to v1.6.3
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 56.2.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/exportarr to v1.6.1
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.3
  .github/workflows/broken-link-check.yaml
Labels: area/github

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 79e3daa
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to e4b98fc
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.23.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.7
  kubernetes/apps/system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/talos/integrations/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/music-assistant/server to v2.0.0b90
  kubernetes/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-node-exporter to 4.26.1
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.7
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.10.7
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.14.0
  infrastructure/gcp-kms.tf
Labels: none

refactor(renovate): realign to standards
  .github/renovate.json5
  .github/renovate/autoMerge-docker-digest.json5
  .github/renovate/autoMerge.json5
  .github/renovate/automerge-github-actions.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/packageRules.json5
  .github/renovate/pr-labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

fix(helm): update chart kube-prometheus-stack to 56.2.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 79e3daa
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/recyclarr/recyclarr to e4b98fc
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.14.0
  infrastructure/gcp-kms.tf
Labels: none

fix(helm): update chart authentik to 2023.10.7
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.7
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-node-exporter to 4.26.1
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/music-assistant/server to v2.0.0b90
  kubernetes/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.7
  kubernetes/apps/system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/talos/integrations/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.23.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/exportarr to v1.6.1
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.18.2410
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.13.0.4217
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): correct renovate stanza
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix(renovate): remove malformed platform key
  .github/renovate.json5
Labels: area/github

fix(renovate): correct bot name and email
  .github/renovate-bot.json5
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Revert "feat(helm): update chart cilium ( 1.14.6 → 1.15.0 )"
  kubernetes/apps/network/cilium/app/helmrelease.yaml
  kubernetes/talos/integrations/cni/kustomization.yaml
Labels: area/kubernetes

fix(renovate): correct bot name and email
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/github

docs(archive): fix broken link
  archive/setup/README.md
Labels: none

fix(renovate): correct bot configuration
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/github

fixup! fix(renovate): correct bot configuration
  .github/renovate.json5
Labels: area/github

docs(archive): fix broken link
  archive/setup/README.md
Labels: none

fix(renovate): correct bot configuration
  .github/renovate-bot.json5
  .github/renovate.json5
Labels: area/github

feat(renovate): automerge containers in own repo
  .github/renovate/autoMerge.json5
Labels: area/github

fix(cnpg): move dashboard to chart
  kubernetes/apps/datastore/cloudnative-pg/app/dashboard/kustomization.yaml
  kubernetes/apps/datastore/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/datastore/cloudnative-pg/app/kustomization.yaml
Labels: area/kubernetes
