Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

fix(talos): correct malformed config key
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

feat(tetragon): add tetragon and initial tracing policies
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/tetragon/app/helmrelease.yaml
  kubernetes/apps/network/tetragon/app/kustomization.yaml
  kubernetes/apps/network/tetragon/ks.yaml
  kubernetes/apps/network/tetragon/policies/kustomization.yaml
  kubernetes/apps/network/tetragon/policies/tracingpolicy-egress-tcp.yaml
  kubernetes/apps/network/tetragon/policies/tracingpolicy-sshd.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(cilium): use new routingMode instead of tunnel disabled
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

feat(wizarr): update unauthenticated paths
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

fix(prowlarr): add anime sync category
  infrastructure/terraform/downloads/prowlarr/applications.tf
Labels: none

reafactor(freetak): convert to multi deployment
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
Labels: area/kubernetes

feat(node-red): switch to external
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
  kubernetes/apps/selfhosted/node-red/app/helmrelease.yaml
  kubernetes/apps/selfhosted/node-red/ks.yaml
Labels: area/kubernetes

fix: use upstream runner image
  kubernetes/apps/dev/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

fix(authentik): update chart after breaking changes
  infrastructure/terraform/security/authentik/variables.tf
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

fix: use fixed cnpg chart
  kubernetes/apps/datastore/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix: correct terraform publish workflow
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

set default tenant
  infrastructure/terraform/security/authentik/tenants.tf
Labels: none

fix: update authentik terraform
  infrastructure/terraform/security/authentik/brands.tf
  infrastructure/terraform/security/authentik/source.tf
Labels: none

fix: quoting
  infrastructure/terraform/security/authentik/source.tf
Labels: none

fix: set brand default status
  infrastructure/terraform/security/authentik/brands.tf
Labels: none

feat: add baby-buddy
  kubernetes/apps/home/baby-buddy/app/helmrelease.yaml
  kubernetes/apps/home/baby-buddy/app/kustomization.yaml
  kubernetes/apps/home/baby-buddy/app/secret-baby-buddy.sops.yaml
  kubernetes/apps/home/baby-buddy/database/kustomization.yaml
  kubernetes/apps/home/baby-buddy/database/pgcluster.yaml
  kubernetes/apps/home/baby-buddy/database/scheduledbackup.yaml
  kubernetes/apps/home/baby-buddy/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: add baby-buddy
  kubernetes/apps/home/baby-buddy/app/helmrelease.yaml
  kubernetes/apps/home/baby-buddy/app/kustomization.yaml
  kubernetes/apps/home/baby-buddy/app/secret-baby-buddy.sops.yaml
  kubernetes/apps/home/baby-buddy/database/kustomization.yaml
  kubernetes/apps/home/baby-buddy/database/pgcluster.yaml
  kubernetes/apps/home/baby-buddy/database/scheduledbackup.yaml
  kubernetes/apps/home/baby-buddy/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(home-assistant): allow automations to be configured via UI
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

fix: add entrypoint to arc runners
  kubernetes/apps/dev/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

feat: add adaptive lighting
  kubernetes/apps/home/home-assistant/app/config/configuration.yaml
Labels: area/kubernetes

fix(dynamic-dns): switch to hourly calls
  kubernetes/apps/network/dynamic-dns/app/cronjob.yaml
Labels: area/kubernetes

feat: add ollama
  kubernetes/apps/ai/kustomization.yaml
  kubernetes/apps/ai/namespace.yaml
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/apps/ai/ollama/app/kustomization.yaml
  kubernetes/apps/ai/ollama/ks.yaml
Labels: area/kubernetes

fix(SUC): correct crd download url
  kubernetes/apps/system/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

fix: roll back cilium and force name server
  kubernetes/apps/network/cilium/app/helmrelease.yaml
  kubernetes/talos/integrations/cni/kustomization.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

feat: update nut client to use new extension configs
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

feat: update to kubernetes 1.30.0
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix: remove deprecated featureflag
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

feat: add emqx operator
  kubernetes/apps/datastore/emqx/ks.yaml
  kubernetes/apps/datastore/emqx/operator/helmrelease.yaml
  kubernetes/apps/datastore/emqx/operator/kustomization.yaml
  kubernetes/apps/datastore/kustomization.yaml
Labels: area/kubernetes

feat: add smarter-device-manager
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/smarter-device-manager/app/helmrelease.yaml
  kubernetes/apps/system/smarter-device-manager/app/kustomization.yaml
  kubernetes/apps/system/smarter-device-manager/app/resources/conf.yaml
  kubernetes/apps/system/smarter-device-manager/ks.yaml
Labels: area/kubernetes

feat: add emqx cluster
  kubernetes/apps/datastore/emqx/cluster/cluster.yaml
  kubernetes/apps/datastore/emqx/cluster/config/init-mqtt.py
  kubernetes/apps/datastore/emqx/cluster/ingress.yaml
  kubernetes/apps/datastore/emqx/cluster/kustomization.yaml
  kubernetes/apps/datastore/emqx/cluster/podmonitor.yaml
  kubernetes/apps/datastore/emqx/cluster/secret-emqx.sops.yaml
  kubernetes/apps/datastore/emqx/ks.yaml
Labels: area/kubernetes

feat(z2m): use app template 3.1.0
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(z2m): switch from hostpath to SDM
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: switch to templated volsync claim
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
Labels: area/kubernetes

feat(z2m): switch url
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

feat: switch to emqx
  archive/apps/home/emqx/app/helmrelease.yaml
  archive/apps/home/emqx/app/kustomization.yaml
  archive/apps/home/emqx/app/secret-emqx.sops.yaml
  archive/apps/home/emqx/ks.yaml
  archive/apps/home/emqx/secret/emqx.tpl
  archive/apps/home/emqx/secret/kustomization.yaml
  archive/apps/home/emqx/secret/secret-flux-emqx.sops.yaml
  archive/apps/home/mosquitto/app/config/load-users.sh
  archive/apps/home/mosquitto/app/config/mosquitto.conf
  archive/apps/home/mosquitto/app/helmrelease.yaml
  archive/apps/home/mosquitto/app/kustomization.yaml
  archive/apps/home/mosquitto/app/secret-mosquitto.sops.yaml
  archive/apps/home/mosquitto/ks.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/volvo2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/volvo2mqtt/app/secret-volvo2mqtt.sops.yaml
  kubernetes/apps/home/volvo2mqtt/ks.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
Labels: area/kubernetes

feat(z2m): add internal ingress
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: automerge trusted developers
  .github/renovate/autoMerge.json5
Labels: area/github

feat: add alert silencer
  kubernetes/apps/monitor/alertmanager-silencer/app/helmrelease.yaml
  kubernetes/apps/monitor/alertmanager-silencer/app/kustomization.yaml
  kubernetes/apps/monitor/alertmanager-silencer/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

feat(ollama): add persistence and switch to openweb-ui
  kubernetes/apps/ai/ollama/app/helmrelease.yaml
  kubernetes/apps/ai/ollama/app/kustomization.yaml
  kubernetes/apps/ai/ollama/app/pvc.yaml
  kubernetes/apps/ai/ollama/ks.yaml
Labels: area/kubernetes

feat(z2m): switch to non-privileged
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
