Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.5-14
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/database/pgcluster.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 43b2d02
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.1.4201
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 43b2d02
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 7.2.1
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(mosquitto): bump memory limit
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix: give home assistant more memory
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add google assistant secret
  kubernetes/apps/home/home-assistant/app/secret-home-assistant.sops.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.21.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.8.3
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.12.0
  infrastructure/gcp-kms.tf
Labels: none

fix(smtp-relay): correct domain configuration
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.12.7
  kubernetes/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes

refactor(mosquitto): add lb svc and esp user
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/secret-mosquitto.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat: add local dns for home assistant
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(descheduler): update config api
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux): add terraform enum to all crd versions
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.16.2387
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v41.1.2
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(terraform): update terraform b2 to 0.8.9
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

fix(container): update image ghcr.io/esphome/esphome to v2023.12.7
  kubernetes/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.13.2
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.21.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart external-dns to 1.14.1
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.62
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.6
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image maxmindinc/geoipupdate to v6.1
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.12.0
  infrastructure/gcp-kms.tf
Labels: none

feat(helm): update chart grafana to 7.2.1
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image flaresolverr/flaresolverr to v3.3.13
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/meisnate12/plex-meta-manager to v1.20.0
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 70acd00
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.1
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.752
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.5-14
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/database/pgcluster.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.58
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.7
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 43b2d02
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes
