Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/infrastructure, area/taskfile

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(grafana): remove netpol
  kubernetes/jsdyb-k8s-001/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: adjust workflows
  .github/workflows/flux-local.yaml
  kubernetes/jsdyb-k8s-001/apps/datastore/emqx/cluster/config/init-users.json
Labels: area/github, area/kubernetes

fix(renovate): correct setting in config
  .github/renovate.json5
Labels: area/github

fix(prowlarr): disable probe
  kubernetes/jsdyb-k8s-001/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(bazarr): correct exporter settings
  kubernetes/jsdyb-k8s-001/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(overseerr): correct url
  kubernetes/jsdyb-k8s-001/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: exclude pod-gateway from mesh
  kubernetes/jsdyb-k8s-001/apps/network/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): filter interface by driver to exclude virtual nics
  kubernetes/jsdyb-k8s-001/talos/talconfig.yaml
Labels: area/kubernetes

fix(task): correct talos reboot task
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

feat: shift to kustomizeConfig for values files for auto reconciliation
  kubernetes/jsdyb-k8s-001/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/jsdyb-k8s-001/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/flux-system/flux-operator/instance/kustomizeconfig.yaml
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/kustomizeconfig.yaml
  kubernetes/jsdyb-k8s-001/apps/system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/jsdyb-k8s-001/apps/system/spegel/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/system/spegel/app/kustomizeconfig.yaml
Labels: area/kubernetes

feat!: remove synology-csi
  kubernetes/jsdyb-k8s-001/apps/storage/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/app/secret-synology-csi.sops.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/ks.yaml
Labels: area/kubernetes

fix(mealie): add nltk data dir
  kubernetes/jsdyb-k8s-001/apps/home/mealie/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/kustomization.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/kustomization.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/replicationdestination.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/replicationsource.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/secret-minio.tmpl.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/pvc.yaml
Labels: area/kubernetes

fix: switch loadbalancer pool
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/bgppeeringpolicy.yaml
  kubernetes/jsdyb-k8s-001/flux/settings/configmap-cluster-settings.yaml
Labels: area/kubernetes

feat: switch to new bgp crds
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes

fix(cilium)!: switch to layer2 announcement
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/bgppeeringpolicy.yaml
Labels: area/kubernetes

feat!: remove synology-csi
  kubernetes/jsdyb-k8s-001/apps/storage/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/app/secret-synology-csi.sops.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/synology-csi/ks.yaml
Labels: area/kubernetes

fix(mealie): add nltk data dir
  kubernetes/jsdyb-k8s-001/apps/home/mealie/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/kustomization.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/kustomization.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/replicationdestination.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/replicationsource.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/secret-minio.tmpl.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/pvc.yaml
Labels: area/kubernetes

fix(mealie): add nltk data dir
  kubernetes/jsdyb-k8s-001/apps/home/mealie/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/kustomization.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/kustomization.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/replicationdestination.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/replicationsource.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/minio/secret-minio.tmpl.yaml
  kubernetes/jsdyb-k8s-001/flux/components/volsync/pvc.yaml
Labels: area/kubernetes

feat: use new cilium bgp resources
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/bgpconfig.yaml
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/bgppeeringpolicy.yaml
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/kustomization.yaml
Labels: area/kubernetes

feat(cilium): turn off layer7 proxy
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

feat(cert-manager): update nameservers
  kubernetes/jsdyb-k8s-001/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat: add envoy gateway
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/external-certificate.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/gatewayclass.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/httproute.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/internal-certificate.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/private-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/professional-certificate.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/public-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/ks.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/kustomization.yaml
  kubernetes/jsdyb-k8s-001/flux/repositories/helm/envoy.yaml
  kubernetes/jsdyb-k8s-001/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: switch to envoy gateway
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/private-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/public-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/ks.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/istio/ks.yaml
Labels: area/kubernetes

fix(gateway): switch to cilium annotation
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/private-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/public-gateway.yaml
Labels: area/kubernetes

feat: move istio to new namespace
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/httproute.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/istio/gateway/private-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/istio/gateway/public-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/istio/ks.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/podmonitor.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/servicemonitor.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/ks.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/namespace.yaml
Labels: area/kubernetes

feat: move istio to new namespace
  kubernetes/jsdyb-k8s-001/apps/flux-system/namespace.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/envoy/gateway/httproute.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/istio/gateway/private-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/istio/gateway/public-gateway.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/istio/ks.yaml
  kubernetes/jsdyb-k8s-001/apps/gateway/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/helmrelease.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/podmonitor.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/app/servicemonitor.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/istio/ks.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/kustomization.yaml
  kubernetes/jsdyb-k8s-001/apps/mesh/namespace.yaml
  kubernetes/jsdyb-k8s-001/apps/policy/namespace.yaml
  kubernetes/jsdyb-k8s-001/apps/storage/namespace.yaml
Labels: area/kubernetes

fix: correct chart repo
  kubernetes/jsdyb-k8s-001/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes

fixup! feat: separate platform layer
  kubernetes/jsdyb-k8s-001/apps/media/kustomization.yaml
Labels: area/kubernetes

fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/media/common/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! feat: separate platform layer
  blueprint.yaml
  kubernetes/apps/media/common/ks.yaml
  kubernetes/apps/media/common/resource/dashboard/kustomization.yaml
  kubernetes/apps/media/common/resource/kustomization.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/media/common/ks.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/media/common/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/system/intel-device-plugins/ks.yaml
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/apps/system/intel-device-plugins/gpu/ocirepo.yaml
  kubernetes/apps/system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/apps/system/intel-device-plugins/operator/ocirepo.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/system/intel-device-plugins/operator/helmrelease.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/gpu-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/gpu-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/apps/gpu-system/generic-device-plugin/ks.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/gpu/nodefeaturerule.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/gpu/ocirepo.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/ks.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/apps/gpu-system/intel-device-plugins/operator/ocirepo.yaml
  kubernetes/apps/gpu-system/kustomization.yaml
  kubernetes/apps/gpu-system/namespace.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/app/clusterpolicy.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/gpu-system/system-upgrade-controller/plans/talos.yaml
  kubernetes/apps/kustomization.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/gpu-system/intel-device-plugins/ks.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/kustomization.yaml
  kubernetes/apps/media/plex/app/ocirepo.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! feat: separate platform layer
  kubernetes/apps/media/plex/app/pvc.yaml
  kubernetes/templates/volsync/pvc.yaml
Labels: area/kubernetes
