Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

feat(mass): upgrade to beta version 80
  kubernetes/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.0
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/qdm12/gluetun to v3.37.0
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.29.0
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.60
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/home-assistant/home-assistant to v2024
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.751
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/home-assistant/home-assistant to v2024
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.60
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.29.0
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.0
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.751
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/qdm12/gluetun to v3.37.0
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.238
  kubernetes/apps/system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.3
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update lycheeverse/lychee-action action to v1.9.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.752
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

refactor: simplify sops configuration
  .sops.yaml
Labels: none

feat: add ssh key to code server
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

feat: add esphome
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/kustomization.yaml
  kubernetes/apps/home/esphome/app/secret-deploy-key.sops.yaml
  kubernetes/apps/home/esphome/app/secret-esphome.sops.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/minio/kustomization.yaml
  kubernetes/templates/volsync/minio/replicationdestination.yaml
  kubernetes/templates/volsync/minio/replicationsource.yaml
  kubernetes/templates/volsync/minio/secret-minio.tmpl.yaml
  kubernetes/templates/volsync/pvc.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 70acd00
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat: add esphome
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/kustomization.yaml
  kubernetes/apps/home/esphome/app/secret-deploy-key.sops.yaml
  kubernetes/apps/home/esphome/app/secret-esphome.sops.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/minio/kustomization.yaml
  kubernetes/templates/volsync/minio/replicationdestination.yaml
  kubernetes/templates/volsync/minio/replicationsource.yaml
  kubernetes/templates/volsync/minio/secret-minio.tmpl.yaml
  kubernetes/templates/volsync/pvc.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 72bc3a9
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 70acd00
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.1
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/meisnate12/plex-meta-manager to v1.20.0
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image flaresolverr/flaresolverr to v3.3.13
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 72bc3a9
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

feat(container): update image maxmindinc/geoipupdate to v6.1
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.62
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.58
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.13.2
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart external-dns to 1.14.1
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.6
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v41.1.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v41.1.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github
