Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack, area/terraform

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 4ce09c1
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(theme-park): add catppuccin theme
  kubernetes/apps/self-hosted/theme-park/app/clusterpolicy.yaml
  kubernetes/apps/self-hosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/self-hosted/theme-park/app/kustomization.yaml
Labels: area/kubernetes

feat(recyclarr): update profiles
  kubernetes/apps/media/recyclarr/app/config/radarr.yml
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/config/sonarr-anime.yml
  kubernetes/apps/media/recyclarr/app/config/sonarr.yml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/kustomization.yaml
Labels: area/kubernetes

feat(wizarr): correct unauthenticated paths
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/bazarr to 2af09f3
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(volsync): add b2 bucket
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/storage/volsync/app/secret-volsync.sops.yaml
  kubernetes/apps/storage/volsync/ks.yaml
  kubernetes/apps/storage/volsync/provision/kustomization.yaml
  kubernetes/apps/storage/volsync/provision/tf.yaml
  kubernetes/flux/repositories/oci/jefedavis-terraform-volsync.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
  terraform/storage/volsync/.terraform.lock.hcl
  terraform/storage/volsync/bucket.tf
  terraform/storage/volsync/main.tf
  terraform/storage/volsync/provider.tf
  terraform/storage/volsync/vars.tf
Labels: area/kubernetes, area/terraform

refactor: move provision to infrastructure folder
  infrastructure/gcp-kms.tf
Labels: none

fix(authentik): correct auto apply of ingress annotations
  kubernetes/apps/security/authentik/app/clusterpolicy.yaml
Labels: area/kubernetes

feat(volsync): add cluster policy to generate secret
  kubernetes/apps/storage/volsync/app/clusterpolicy.yaml
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/apps/storage/volsync/app/secret-volsync.sops.yaml
  kubernetes/apps/storage/volsync/template/volsync-secret.yaml
Labels: area/kubernetes

chore: update git ignore and sops rules
  .gitignore
  .sops.yaml
Labels: none

refactor: centralize organization name and cluster name to global settings
  kubernetes/apps/downloads/prowlarr/provision/tf.yaml
  kubernetes/apps/media/plex/app/config/preferences.cfg
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
  kubernetes/apps/security/authentik/app/clusterpolicy.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/security/cert-manager/issuers/clusterissuer-letsencrypt.yaml
  kubernetes/apps/security/cert-manager/issuers/clusterissuer-local.yaml
  kubernetes/apps/storage/volsync/provision/tf.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.3.7192-7aa441827
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.57.2
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

refactor: change branch pointer
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

refactor: move metallb and system upgrade controller to archive
  archive/network/metallb/app/helmrelease.yaml
  archive/network/metallb/app/kustomization.yaml
  archive/network/metallb/ks.yaml
  archive/network/metallb/pool/ip-address-pool.yaml
  archive/network/metallb/pool/kustomization.yaml
  archive/system/system-upgrade-controller/app/kustomization.yaml
  archive/system/system-upgrade-controller/ks.yaml
  archive/system/system-upgrade-controller/plans/control-plane.yaml
  archive/system/system-upgrade-controller/plans/kustomization.yaml
  archive/system/system-upgrade-controller/plans/workers.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 2bb1257
  kubernetes/apps/devops/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update docker/build-push-action action to v4.1.1
  .github/workflows/publish-schemas.yaml
Labels: area/github

feat(github-action): update docker/setup-buildx-action action to v2.7.0
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 9d9b3ac
  kubernetes/apps/devops/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

feat: build talos cluster
  infrastructure/README.md
  infrastructure/talos/apply.sh
  infrastructure/talos/bootstrap.sh
  infrastructure/talos/generate.sh
  infrastructure/talos/integrations/cni/.gitignore
  infrastructure/talos/integrations/cni/app/kustomization.yaml
  infrastructure/talos/integrations/cni/app/transformers.yaml
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/generate.sh
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/.gitignore
  infrastructure/talos/integrations/kubelet-csr-approver/app/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/app/transformers.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/generate.sh
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
  infrastructure/talos/talsecret.sops.yaml
  kubernetes/apps/network/cilium/app/bgppeeringpolicy.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
  kubernetes/apps/network/cilium/app/kustomization.yaml
  kubernetes/apps/network/cilium/app/values.yaml
  kubernetes/apps/network/cilium/ks.yaml
  kubernetes/apps/system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/system/kubelet-csr-approver/app/values.yaml
  kubernetes/apps/system/kubelet-csr-approver/ks.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: split prometheus crds to separate chart for better deps
  archive/network/metallb/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/apps/network/cilium/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/network/smtp-relay/ks.yaml
  kubernetes/apps/policy/kyverno/ks.yaml
  kubernetes/apps/security/cert-manager/ks.yaml
  kubernetes/apps/security/external-secrets/ks.yaml
  kubernetes/apps/storage/snapshot-controller/ks.yaml
  kubernetes/apps/system/kured/ks.yaml
  kubernetes/apps/system/reloader/ks.yaml
Labels: area/kubernetes

fix(kured): use correct namespace
  kubernetes/apps/system/kured/app/helmrelease.yaml
Labels: area/kubernetes

feat: prepare for migration to talos
  kubernetes/apps/data-services/kustomization.yaml
  kubernetes/apps/devops/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
  kubernetes/apps/resume/kustomization.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
Labels: area/kubernetes

feat(nginx): configure for talos
  infrastructure/talos/integrations/cni/generate.sh
  infrastructure/talos/integrations/kubelet-csr-approver/generate.sh
  kubernetes/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/bootstrap/README.md
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(storage): add rook-ceph
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/rook-ceph/cluster/dashboard/ceph-cluster-dashboard.json
  kubernetes/apps/storage/rook-ceph/cluster/dashboard/ceph-osd-dashboard.json
  kubernetes/apps/storage/rook-ceph/cluster/dashboard/ceph-pools-dashboard.json
  kubernetes/apps/storage/rook-ceph/cluster/dashboard/kustomization.yaml
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/storage/rook-ceph/ks.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/kustomization.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
Labels: area/kubernetes

feat(datastore): enable cloudnative-pg for talos
  kubernetes/apps/data-services/cloudnative-pg/ks.yaml
  kubernetes/apps/data-services/kustomization.yaml
  kubernetes/apps/monitor/grafana/app/pgcluster.yaml
Labels: area/kubernetes

feat(kube-prometheus-stack): update config for talos
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(monitor): add metrics-server
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/metrics-server/app/helmrelease.yaml
  kubernetes/apps/monitor/metrics-server/app/kustomization.yaml
  kubernetes/apps/monitor/metrics-server/ks.yaml
Labels: area/kubernetes

feat(alert-manager): move to separate deployment
  kubernetes/apps/monitor/alert-manager/app/config/alertmanager.yml
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
  kubernetes/apps/monitor/alert-manager/app/kustomization.yaml
  kubernetes/apps/monitor/alert-manager/app/secret-alert-manager.sops.yaml
  kubernetes/apps/monitor/alert-manager/ks.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(monitor): add thanos
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/thanos/app/dashboard/kustomization.yaml
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
  kubernetes/apps/monitor/thanos/app/kustomization.yaml
  kubernetes/apps/monitor/thanos/app/secret-thanos.sops.yaml
  kubernetes/apps/monitor/thanos/ks.yaml
Labels: area/kubernetes

refactor: rename downloads namespace to download
  kubernetes/apps/download/downloads/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/download/downloads/flaresolverr/app/kustomization.yaml
  kubernetes/apps/download/downloads/flaresolverr/ks.yaml
  kubernetes/apps/download/downloads/kustomization.yaml
  kubernetes/apps/download/downloads/namespace.yaml
  kubernetes/apps/download/downloads/networkpolicy.yaml
  kubernetes/apps/download/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/download/downloads/prowlarr/app/kustomization.yaml
  kubernetes/apps/download/downloads/prowlarr/ks.yaml
  kubernetes/apps/download/downloads/prowlarr/provision/kustomization.yaml
  kubernetes/apps/download/downloads/prowlarr/provision/tf.yaml
  kubernetes/apps/download/downloads/rdt-client/app/helmrelease.yaml
  kubernetes/apps/download/downloads/rdt-client/app/kustomization.yaml
  kubernetes/apps/download/downloads/rdt-client/app/pv.yaml
  kubernetes/apps/download/downloads/rdt-client/app/pvc.yaml
  kubernetes/apps/download/downloads/rdt-client/ks.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/media/common/resource/secret-starr-apps.sops.yaml
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/self-hosted/hajimari/app/helmrelease.yaml
  terraform/downloads/prowlarr/download-client.tf
  terraform/downloads/prowlarr/indexer-proxy.tf
  terraform/downloads/prowlarr/variables.tf
  terraform/media/radarr/download-client.tf
  terraform/media/sonarr/download-client.tf
Labels: area/kubernetes, area/terraform

refactor: rename data-services to datastore
  kubernetes/apps/datastore/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/datastore/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/datastore/cloudnative-pg/ks.yaml
  kubernetes/apps/datastore/kustomization.yaml
  kubernetes/apps/datastore/namespace.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 3e6532d
  kubernetes/apps/devops/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

feat(flux): enable flux addons for talos
  kubernetes/apps/flux-system/add-ons/ks.yaml
  kubernetes/apps/flux-system/add-ons/monitoring/dashboard/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/monitoring/podmonitor.yaml
  kubernetes/apps/flux-system/add-ons/monitoring/prometheusrule.yaml
  kubernetes/apps/flux-system/add-ons/notifications/alert.yaml
  kubernetes/apps/flux-system/add-ons/notifications/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/receiver-k8s-home-ops.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/secret-github-webhook-token.sops.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

feat(monitor): add node-exporter
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/node-exporter/app/kustomization.yaml
  kubernetes/apps/monitor/node-exporter/ks.yaml
Labels: area/kubernetes

feat(grafana): move to dashboards to app folders
  kubernetes/apps/datastore/cloudnative-pg/app/dashboard/kustomization.yaml
  kubernetes/apps/datastore/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/monitoring/dashboard/kustomization.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/secret-grafana.sops.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/thanos/app/dashboard/kustomization.yaml
  kubernetes/apps/monitor/unpoller/app/dashboard/kustomization.yaml
  kubernetes/apps/monitor/unpoller/app/kustomization.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/app/dashboard/kustomization.yaml
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
  kubernetes/apps/security/cert-manager/app/dashboard/kustomization.yaml
  kubernetes/apps/security/cert-manager/app/kustomization.yaml
  kubernetes/apps/storage/rook-ceph/cluster/dashboard/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-5
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/monitor/grafana/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/app/pgcluster.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0-snapshot.3
  infrastructure/talos/integrations/cni/app/kustomization.yaml
  kubernetes/apps/network/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.18.1
  kubernetes/apps/datastore/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.0.178
  kubernetes/apps/system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
