Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

feat: add google assistant secret
  kubernetes/apps/home/home-assistant/app/secret-home-assistant.sops.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: use kube prism for talos/cilium
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.21.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add local dns for home assistant
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

refactor(cert-manager): archive google domains webhook
  archive/apps/security/cert-manager-webhook/google-domains/helmrelease.yaml
  archive/apps/security/cert-manager-webhook/google-domains/kustomization.yaml
  archive/apps/security/cert-manager-webhook/google-domains/secret-domain-api-key.sops.yaml
  kubernetes/apps/security/cert-manager/ks.yaml
Labels: area/kubernetes

feat: add wilcard certs
  kubernetes/apps/network/ingress-nginx/external/certificate.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/internal/certificate.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/kustomization.yaml
Labels: area/kubernetes

feat(container): update image docker.io/meisnate12/plex-meta-manager to v1.20.0
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.9
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.752
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(cert-manager): add dns01 challenge
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
  kubernetes/apps/security/cert-manager/issuers/clusterissuer-letsencrypt.yaml
  kubernetes/apps/security/cert-manager/ks.yaml
  kubernetes/apps/security/cert-manager/webhook/helmrelease.yaml
  kubernetes/apps/security/cert-manager/webhook/kustomization.yaml
  kubernetes/apps/security/cert-manager/webhook/secret-domain-api-key.sops.yaml
  kubernetes/flux/repositories/helm/dmahmalat.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.58
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v41.1.2
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(flux): add terraform enum to all crd versions
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.13.2
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.6
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.20.1
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.12.9
  kubernetes/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.5
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.2.4211
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.14.2
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.2.4
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.4
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.8
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.15.1
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.63
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.21.1
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image alpine/k8s to v1.29.1
  kubernetes/apps/network/dynamic-dns/app/cronjob.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.11.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kured to 5.4.1
  kubernetes/apps/system/kured/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.13.0
  infrastructure/gcp-kms.tf
Labels: none

feat(github-action)!: Update tj-actions/changed-files action to v42.0.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(helm)!: Update chart app-template to 2.5.0
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/volvo2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/music-assistant/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/app/helmrelease.yaml
  kubernetes/apps/media/tdarr/node/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart prometheus-operator-crds to 9.0.0
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
Labels: area/kubernetes

fix: add new link to flux grafana dashboards
  kubernetes/apps/flux-system/add-ons/monitoring/dashboard/kustomization.yaml
Labels: area/kubernetes

refactor(talos): update readme and move to kubernetes folder
  kubernetes/talos/README.md
  kubernetes/talos/apply.sh
  kubernetes/talos/bootstrap.sh
  kubernetes/talos/clusterconfig/.gitignore
  kubernetes/talos/deploy-integrations.sh
  kubernetes/talos/generate.sh
  kubernetes/talos/integrations/cni/kustomization.yaml
  kubernetes/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/talos/talconfig.yaml
  kubernetes/talos/talenv.sops.yaml
  kubernetes/talos/talsecret.sops.yaml
Labels: area/kubernetes

docs(README): add new flow diagram
  README.md
Labels: none

refactor(tf-controller): switch to default backend
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/foxcpp/maddy to v0.7.1
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
