Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.987
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image rhasspy/wyoming-openwakeword to v1.9.0
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
Labels: area/kubernetes

fix(authentik): correct url typo in provision
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.11.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.12.9
  kubernetes/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(node-exporter): add relabel for node name
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.4
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.5
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.987
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.2.4211
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.20.1
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v42.0.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(rook): turn serviceMonitor on
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.63
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

refactor(tf-controller): switch to default backend
  kubernetes/apps/download/prowlarr/provision/tf.yaml
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.2.4
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.8
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

refactor(talos): update readme and move to kubernetes folder
  infrastructure/talos/README.md
  kubernetes/talos/README.md
  kubernetes/talos/apply.sh
  kubernetes/talos/bootstrap.sh
  kubernetes/talos/clusterconfig/.gitignore
  kubernetes/talos/deploy-integrations.sh
  kubernetes/talos/generate.sh
  kubernetes/talos/integrations/cni/kustomization.yaml
  kubernetes/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/talos/talconfig.yaml
  kubernetes/talos/talenv.sops.yaml
  kubernetes/talos/talsecret.sops.yaml
Labels: area/kubernetes

feat(container): update image alpine/k8s to v1.29.1
  kubernetes/apps/network/dynamic-dns/app/cronjob.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/foxcpp/maddy to v0.7.1
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

feat(rook): switch to internal ingress
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tj-actions/changed-files action to v42.0.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(container): update image rhasspy/wyoming-openwakeword to v1.9.0
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v42.0.2
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(helm): update chart external-dns to 1.14.2
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart thanos to 12.21.1
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): remove image render smon
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart prometheus-operator-crds to 9.0.0
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.15.1
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.13.0
  infrastructure/gcp-kms.tf
Labels: none

feat: add pulumi-kubernetes-operator
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/dev/pulumi-kubernetes-operator/app/helmrelease.yaml
  kubernetes/apps/dev/pulumi-kubernetes-operator/app/kustomization.yaml
  kubernetes/apps/dev/pulumi-kubernetes-operator/app/rbac.yaml
  kubernetes/apps/dev/pulumi-kubernetes-operator/app/secret-pulumi.sops.yaml
  kubernetes/apps/dev/pulumi-kubernetes-operator/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/pulumi.yaml
Labels: area/kubernetes

refactor(terraform): move to infrastucture folder
  .github/workflows/publish-terraform-oci.yaml
  infrastructure/terraform/downloads/prowlarr/.terraform.lock.hcl
  infrastructure/terraform/downloads/prowlarr/applications.tf
  infrastructure/terraform/downloads/prowlarr/download-client.tf
  infrastructure/terraform/downloads/prowlarr/indexer-proxy.tf
  infrastructure/terraform/downloads/prowlarr/main.tf
  infrastructure/terraform/downloads/prowlarr/provider.tf
  infrastructure/terraform/downloads/prowlarr/variables.tf
  infrastructure/terraform/media/radarr/.terraform.lock.hcl
  infrastructure/terraform/media/radarr/download-client.tf
  infrastructure/terraform/media/radarr/main.tf
  infrastructure/terraform/media/radarr/media-management.tf
  infrastructure/terraform/media/radarr/provider.tf
  infrastructure/terraform/media/radarr/tags.tf
  infrastructure/terraform/media/radarr/variables.tf
  infrastructure/terraform/media/sonarr/.terraform.lock.hcl
  infrastructure/terraform/media/sonarr/download-client.tf
  infrastructure/terraform/media/sonarr/main.tf
  infrastructure/terraform/media/sonarr/media-management.tf
  infrastructure/terraform/media/sonarr/provider.tf
  infrastructure/terraform/media/sonarr/tags.tf
  infrastructure/terraform/media/sonarr/variables.tf
  infrastructure/terraform/security/authentik/.terraform.lock.hcl
  infrastructure/terraform/security/authentik/applications.tf
  infrastructure/terraform/security/authentik/flows.tf
  infrastructure/terraform/security/authentik/groups.tf
  infrastructure/terraform/security/authentik/main.tf
  infrastructure/terraform/security/authentik/provider.tf
  infrastructure/terraform/security/authentik/source.tf
  infrastructure/terraform/security/authentik/stages.tf
  infrastructure/terraform/security/authentik/system.tf
  infrastructure/terraform/security/authentik/tenants.tf
  infrastructure/terraform/security/authentik/users.tf
  infrastructure/terraform/security/authentik/variables.tf
  infrastructure/terraform/storage/volsync/.terraform.lock.hcl
  infrastructure/terraform/storage/volsync/bucket.tf
  infrastructure/terraform/storage/volsync/main.tf
  infrastructure/terraform/storage/volsync/provider.tf
  infrastructure/terraform/storage/volsync/vars.tf
Labels: area/github

feat: add minio endpoint
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/thanos/app/secret-thanos.sops.yaml
  kubernetes/apps/network/external-services/kustomization.yaml
  kubernetes/apps/network/external-services/minio.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/database/pgcluster.yaml
  kubernetes/apps/storage/volsync/policy/secret-flux-volsync.sops.yaml
Labels: area/kubernetes

feat: switch wildcards to use le prod
  kubernetes/apps/network/ingress-nginx/external/certificate.yaml
  kubernetes/apps/network/ingress-nginx/internal/certificate.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/installer to v1.6.3
  kubernetes/apps/system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.5-15
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/database/pgcluster.yaml
Labels: area/kubernetes

fix(container): update talos group to v1.6.3
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/talos/talconfig.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.2
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(helm): update chart external-dns to 1.14.3
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart prometheus-operator-crds to 9.0.1
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
Labels: area/kubernetes
