Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

feat(suc): add grace period and ignore home assistant db
  kubernetes/apps/system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/siderolabs/installer to v1.6.1
  infrastructure/talos/talconfig.yaml
Labels: none

feat(container): update image ghcr.io/siderolabs/talosctl to v1.6.1
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/siderolabs/installer to v1.6.1
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

refactor(talos): remove static manifests
  infrastructure/talos/bootstrap.sh
  infrastructure/talos/deploy-integrations.sh
  infrastructure/talos/integrations/cni/.gitignore
  infrastructure/talos/integrations/cni/app/kustomization.yaml
  infrastructure/talos/integrations/cni/app/transformers.yaml
  infrastructure/talos/integrations/cni/cilium.yaml
  infrastructure/talos/integrations/cni/generate.sh
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/.gitignore
  infrastructure/talos/integrations/kubelet-csr-approver/app/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/app/transformers.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/generate.sh
  infrastructure/talos/integrations/kubelet-csr-approver/kubelet-csr-approver.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

fix(suc): remove quotes from version
  kubernetes/apps/system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(github-release): update kubernetes/kubernetes to 1.29.0
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.14.2341
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(talos): convert to official extensions
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.5-11
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/database/pgcluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.14.2341
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.3.4163
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook ceph group to v1.13.1
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v5.2.6.8376
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v41.0.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to d348611
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.14.2348
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.4
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.58
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.12.4
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.7
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to d348611
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v5.2.6.8376
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.14.2348
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.4
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.58
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.12.4
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.7
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

fix(helm): update chart kube-prometheus-stack to 55.5.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.2
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.25.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.740
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart kube-prometheus-stack to 55.5.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.2
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.740
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart prometheus-node-exporter to 4.25.0
  kubernetes/apps/monitor/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update micalevisk/last-issue-action action to v2.3.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

feat(wyoming): add openwakeword
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/wyoming-piper/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-piper/ks.yaml
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-services/app/kustomization.yaml
  kubernetes/apps/home/wyoming-services/ks.yaml
  kubernetes/apps/home/wyoming-whisper/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-whisper/app/kustomization.yaml
Labels: area/kubernetes

feat: add volvo2mqtt
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/secret-mosquitto.sops.yaml
  kubernetes/apps/home/volvo2mqtt/app/configmap.yaml
  kubernetes/apps/home/volvo2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/volvo2mqtt/app/kustomization.yaml
  kubernetes/apps/home/volvo2mqtt/app/secret-volvo2mqtt.sops.yaml
  kubernetes/apps/home/volvo2mqtt/ks.yaml
Labels: area/kubernetes
