Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

fix(container): update image rogerfar/rdtclient to v2.0.58
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart thanos to 12.21.0
  kubernetes/apps/monitor/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.7
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): add cloudflare configuration
  kubernetes/apps/network/external-dns/crds/crd-dnsendpoint.yaml
  kubernetes/apps/network/external-dns/crds/kustomization.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.sops.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/kustomization.yaml
  kubernetes/apps/network/external-dns/internal/secret-external-dns-internal.sops.yaml
  kubernetes/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.752
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 7.2.1
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: add custom wake word
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-services/app/hey_piper.tflite
  kubernetes/apps/home/wyoming-services/app/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.41.6
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(cert-manager): add dns01 challenge
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
  kubernetes/apps/security/cert-manager/issuers/clusterissuer-letsencrypt.yaml
  kubernetes/apps/security/cert-manager/ks.yaml
  kubernetes/apps/security/cert-manager/webhook/helmrelease.yaml
  kubernetes/apps/security/cert-manager/webhook/kustomization.yaml
  kubernetes/apps/security/cert-manager/webhook/secret-domain-api-key.sops.yaml
  kubernetes/flux/repositories/helm/dmahmalat.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.12.7
  kubernetes/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v41.1.2
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat: add freetak for testing
  kubernetes/apps/selfhosted/freetak/app/config/backend/FTSConfig.yaml
  kubernetes/apps/selfhosted/freetak/app/config/frontend/config.py
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
  kubernetes/apps/selfhosted/freetak/app/kustomization.yaml
  kubernetes/apps/selfhosted/freetak/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.16.2387
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.238
  kubernetes/apps/system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.59
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

feat: use kube prism for talos/cilium
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

feat: add node-red
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/config/settings.js
  kubernetes/apps/selfhosted/node-red/app/helmrelease.yaml
  kubernetes/apps/selfhosted/node-red/app/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/secret-node-red.sops.yaml
  kubernetes/apps/selfhosted/node-red/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.15.1
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

refactor(SUC): refactor talos plans
  kubernetes/apps/system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system/system-upgrade-controller/app/serviceaccount.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(talos): add nut client configuration
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.953
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: clean up integrations bootstrap scripts
  infrastructure/talos/deploy-integrations.sh
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

fix(github-release): update kubernetes/kubernetes to 1.29.1
  infrastructure/talos/talconfig.yaml
Labels: none

feat: add ssh key to code server
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.751
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add esphome
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/kustomization.yaml
  kubernetes/apps/home/esphome/app/secret-deploy-key.sops.yaml
  kubernetes/apps/home/esphome/app/secret-esphome.sops.yaml
  kubernetes/apps/home/esphome/ks.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/minio/kustomization.yaml
  kubernetes/templates/volsync/minio/replicationdestination.yaml
  kubernetes/templates/volsync/minio/replicationsource.yaml
  kubernetes/templates/volsync/minio/secret-minio.tmpl.yaml
  kubernetes/templates/volsync/pvc.yaml
Labels: area/kubernetes

feat(github-action): update lycheeverse/lychee-action action to v1.9.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(helm): update chart reloader to 1.0.60
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(mass): upgrade to beta version 80
  kubernetes/apps/media/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(mosquitto): bump memory limit
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(wyoming): add openwakeword
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/wyoming-piper/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-piper/ks.yaml
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-services/app/kustomization.yaml
  kubernetes/apps/home/wyoming-services/ks.yaml
  kubernetes/apps/home/wyoming-whisper/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-whisper/app/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.29.0
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v41.1.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.0
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 43b2d02
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/home-assistant/home-assistant to v2024
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add volvo2mqtt
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/secret-mosquitto.sops.yaml
  kubernetes/apps/home/volvo2mqtt/app/configmap.yaml
  kubernetes/apps/home/volvo2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/volvo2mqtt/app/kustomization.yaml
  kubernetes/apps/home/volvo2mqtt/app/secret-volvo2mqtt.sops.yaml
  kubernetes/apps/home/volvo2mqtt/ks.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/qdm12/gluetun to v3.37.0
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
