Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(deps): replace image k8s.gcr.io/sig-storage/csi-resizer with registry\.k8s\.io/sig-storage/csi-resizer
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/sig-storage/csi-attacher with registry\.k8s\.io/sig-storage/csi-attacher
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/sig-storage/csi-provisioner with registry\.k8s\.io/sig-storage/csi-provisioner
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/sig-storage/csi-node-driver-registrar with registry\.k8s\.io/sig-storage/csi-node-driver-registrar
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): pin dependencies
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(synology-csi): use synology chart to make snapshot class
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/ks.yaml
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
  kubernetes/apps/storage/synology-csi/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.1
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(vpn): rotate wg key
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/network/pod-gateway/app/secret-pod-gateway.sops.yaml
Labels: area/kubernetes

feat(vpn): add shadowsocks password
  kubernetes/apps/network/pod-gateway/app/secret-pod-gateway.sops.yaml
Labels: area/kubernetes

chore(deps): replace image k8s.gcr.io/sig-storage/csi-snapshotter with registry\.k8s\.io/sig-storage/csi-snapshotter
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.1.7.1881
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.7
  kubernetes/apps/self-hosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/tautulli to v2.12.4
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image plexinc/pms-docker to v1.32.2.7100-248a2daf0
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.8.3
  kubernetes/apps/security/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to v1.0.25
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.6
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-4
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/monitor/grafana/app/pgcluster.yaml
  kubernetes/apps/security/authentik/app/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/app/pgcluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/goauthentik/server to v2023.5.2
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart pod-gateway to 6.5.1
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/wizarrrr/wizarr to v2.2.0
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart descheduler to 0.27.0
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.5.1.3422
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 1.5.0
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/self-hosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cert-manager to v1.12.1
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart authentik to 2023.5.2
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image flaresolverr/flaresolverr to v3.2.0
  kubernetes/apps/downloads/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 4.66.0
  provision/gcp-kms.tf
Labels: none

feat(helm): update chart kube-prometheus-stack to 45.31.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kyverno to 2.7.5
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(kyverno): remove depricated arg
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(kyverno): allow for more skew for upgrades
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr to v4.5.2.7388
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2023.5.4
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.13.0
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v36.0.9
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

refactor: remove healthcheck and use wait instead
  kubernetes/apps/data-services/cloudnative-pg/ks.yaml
  kubernetes/apps/downloads/flaresolverr/ks.yaml
  kubernetes/apps/downloads/rdt-client/ks.yaml
  kubernetes/apps/home/emqx/ks.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/network/metallb/ks.yaml
  kubernetes/apps/policy/kyverno/ks.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/external-secrets/ks.yaml
  kubernetes/apps/security/vaultwarden/ks.yaml
  kubernetes/apps/self-hosted/theme-park/ks.yaml
  kubernetes/apps/storage/volsync/ks.yaml
Labels: area/kubernetes

feat(home): add emqx to flux
  kubernetes/apps/home/emqx/app/externalsecret.yaml
  kubernetes/apps/home/emqx/app/helmrelease.yaml
  kubernetes/apps/home/emqx/app/kustomization.yaml
  kubernetes/apps/home/emqx/ks.yaml
  kubernetes/apps/home/kustomization.yaml
Labels: area/kubernetes

refactor(authentik): move database to dependency and add bootstrap
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/secret-authentik.sops.yaml
  kubernetes/apps/security/authentik/database/kustomization.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/authentik/ks.yaml
Labels: area/kubernetes

fix(synology-csi): switch to ip over dns for connection
  kubernetes/apps/storage/synology-csi/app/secret-synology-csi.sops.yaml
Labels: area/kubernetes
