Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat(vault): move to archive
  archive/apps/vault/namespace.yaml
  archive/apps/vault/vault-secrets-operator/app/helmrelease.yaml
  archive/apps/vault/vault/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/secret/home-assistant.tpl
  kubernetes/apps/home/zigbee2mqtt/secret/zigbee2mqtt.tpl
  kubernetes/apps/media/common/resource/externalsecret.yaml
  kubernetes/apps/media/common/secret/starr-apps-secret.tpl
  kubernetes/apps/monitor/grafana/app/externalsecret.yaml
  kubernetes/apps/network/external-dns/app/externalsecret.yaml
  kubernetes/apps/network/external-dns/app/kustomization.yaml
  kubernetes/apps/network/external-dns/secret/external-dns.tpl
  kubernetes/apps/network/pod-gateway/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/secret/authentik.tpl
  kubernetes/apps/storage/synology-csi/app/externalsecret.yaml
  kubernetes/apps/storage/synology-csi/secret/synology-secret.tpl
  kubernetes/apps/system/kured/app/externalsecret.yaml
  kubernetes/apps/system/kured/app/kustomization.yaml
  kubernetes/apps/system/kured/secret/kured.tpl
Labels: area/kubernetes

feat(home): add zigbee2mqtt to flux
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/home/zigbee2mqtt/app/secret-zigbee2mqtt.sops.yaml
  kubernetes/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/apps/system/node-feature-discovery/rules/nfr-zigbee.yaml
  kubernetes/apps/system/node-feature-discovery/rules/nfr-zwave.yaml
Labels: area/kubernetes

feat: switch from emqx to mosquitto
  archive/apps/home/emqx/app/helmrelease.yaml
  archive/apps/home/emqx/app/kustomization.yaml
  archive/apps/home/emqx/app/secret-emqx.sops.yaml
  archive/apps/home/emqx/ks.yaml
  archive/apps/home/emqx/secret/emqx.tpl
  archive/apps/home/emqx/secret/kustomization.yaml
  archive/apps/home/emqx/secret/secret-flux-emqx.sops.yaml
  kubernetes/apps/home/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/config/load-users.sh
  kubernetes/apps/home/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/apps/home/mosquitto/app/secret-mosquitto.sops.yaml
  kubernetes/apps/home/mosquitto/ks.yaml
Labels: area/kubernetes

fix(grafana): correct database name
  kubernetes/apps/monitor/grafana/app/pgcluster.yaml
Labels: area/kubernetes

feat(tf-authentik): add proxy providers
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/flux/repositories/oci/jefedavis-terraform-authentik.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
  terraform/security/authentik/applications.tf
  terraform/security/authentik/flows.tf
  terraform/security/authentik/groups.tf
  terraform/security/authentik/main.tf
  terraform/security/authentik/provider.tf
  terraform/security/authentik/users.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

refactor: align with idiomatic folder names
  hack/move-pvc.sh
Labels: area/hack

refactor(authentik): rotate server key
  kubernetes/apps/security/authentik/app/secret-authentik.sops.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v36.0.12
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.13
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.14
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(tf-authentik): add proxy providers
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/applications.tf
Labels: area/kubernetes, area/terraform

fix(github-action): update tj-actions/changed-files action to v36.0.11
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(authentik): fix redis permissions
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(synology): add parameters
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat: adjust dependency tree
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/network/smtp-relay/ks.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/ks.yaml
  kubernetes/apps/storage/snapshot-controller/webhook/helmrelease.yaml
Labels: area/kubernetes

adjust dependency tree
  kubernetes/apps/network/ingress-nginx/ks.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v36.0.15
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(synology): correct helm key name
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

fix(mosquitto): correct volume name
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(hajimari): enable authentication
  kubernetes/apps/self-hosted/hajimari/app/helmrelease.yaml
Labels: area/kubernetes

fix(plex): rotate claim token
  kubernetes/apps/media/plex/app/config/preferences.cfg
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
Labels: area/kubernetes

fix(plex): disable substitution on config file
  kubernetes/apps/media/plex/app/config/preferences.cfg
  kubernetes/apps/media/plex/app/kustomization.yaml
Labels: area/kubernetes

refactor(authentik): use new outpost
  kubernetes/apps/media/plex/app/config/preferences.cfg
  kubernetes/apps/security/authentik/app/clusterpolicy.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/applications.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

feat(authentik): add grafana app
  kubernetes/apps/monitor/grafana/app/secret-grafana.sops.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/applications.tf
  terraform/security/authentik/system.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

feat(authentik): add users and groups
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/groups.tf
  terraform/security/authentik/users.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

chore: add tfvars to git ignore
  .gitignore
Labels: none

fix(authentik): correct outpost config
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
  kubernetes/apps/security/authentik/app/secret-authentik.sops.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/applications.tf
  terraform/security/authentik/flows.tf
  terraform/security/authentik/source.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

feat(authentik): add plex allowed servers
  kubernetes/apps/media/plex/app/secret-plex.sops.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/flows.tf
  terraform/security/authentik/source.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

refactor: remove terraform folder from gitrepo object
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

fix(system-upgrade-controller): correct selector
  kubernetes/apps/system/system-upgrade-controller/plans/control-plane.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.1
  .github/workflows/renovate.yml
Labels: area/github

feat(authentik): add email recovery blueprint
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/blueprints.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

feat(helm): update chart snapshot-controller to 1.8.0
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.7.0
  kubernetes/apps/network/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-validation-webhook to 1.7.2
  kubernetes/apps/storage/snapshot-controller/webhook/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/foxcpp/maddy to v0.7.0
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/qdm12/gluetun to v3.34.3
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.1.7.1882
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.13.2
  kubernetes/apps/system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart metallb to 0.13.10
  kubernetes/apps/network/metallb/app/helmrelease.yaml
Labels: area/kubernetes
