Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

fix(terraform): update terraform b2 to 0.8.9
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

feat: add wilcard certs
  kubernetes/apps/network/ingress-nginx/external/certificate.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/internal/certificate.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/kustomization.yaml
Labels: area/kubernetes

feat: add dynamic-dns cronjob
  kubernetes/apps/network/dynamic-dns/app/cronjob.yaml
  kubernetes/apps/network/dynamic-dns/app/kustomization.yaml
  kubernetes/apps/network/dynamic-dns/app/role.yaml
  kubernetes/apps/network/dynamic-dns/app/rolebinding.yaml
  kubernetes/apps/network/dynamic-dns/app/serviceaccount.yaml
  kubernetes/apps/network/dynamic-dns/ks.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat(external-dns): add cloudflare configuration
  kubernetes/apps/network/external-dns/crds/crd-dnsendpoint.yaml
  kubernetes/apps/network/external-dns/crds/kustomization.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.sops.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/kustomization.yaml
  kubernetes/apps/network/external-dns/internal/secret-external-dns-internal.sops.yaml
  kubernetes/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

feat: add custom wake word
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-services/app/hey_piper.tflite
  kubernetes/apps/home/wyoming-services/app/kustomization.yaml
Labels: area/kubernetes

refactor(cert-manager): archive google domains webhook
  archive/apps/security/cert-manager-webhook/google-domains/helmrelease.yaml
  archive/apps/security/cert-manager-webhook/google-domains/kustomization.yaml
  archive/apps/security/cert-manager-webhook/google-domains/secret-domain-api-key.sops.yaml
  kubernetes/apps/security/cert-manager/ks.yaml
Labels: area/kubernetes

feat(freetak): play with ingresses
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
Labels: area/kubernetes

feat: add freetak for testing
  kubernetes/apps/selfhosted/freetak/app/config/backend/FTSConfig.yaml
  kubernetes/apps/selfhosted/freetak/app/config/frontend/config.py
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
  kubernetes/apps/selfhosted/freetak/app/kustomization.yaml
  kubernetes/apps/selfhosted/freetak/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat: add NoT attachment configuration
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/secret-esphome.sops.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/kustomization.yaml
  kubernetes/apps/network/multus/config/networkattachment-not.yaml
Labels: area/kubernetes

fix: switch issuers over to cloudflare dns01
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.sops.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
  kubernetes/apps/security/cert-manager/issuers/clusterissuer-letsencrypt.yaml
  kubernetes/apps/security/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/security/cert-manager/issuers/secret-cloudflare-api-token.sops.yaml
Labels: area/kubernetes

refactor: change web to selfhosted
  kubernetes/apps/selfhosted/hajimari/app/helmrelease.yaml
  kubernetes/apps/selfhosted/hajimari/app/kustomization.yaml
  kubernetes/apps/selfhosted/hajimari/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/namespace.yaml
  kubernetes/apps/selfhosted/theme-park/app/clusterpolicy.yaml
  kubernetes/apps/selfhosted/theme-park/app/config/rdt-client/nord.css
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/kustomization.yaml
  kubernetes/apps/selfhosted/theme-park/ks.yaml
Labels: area/kubernetes

feat: add node-red
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/config/settings.js
  kubernetes/apps/selfhosted/node-red/app/helmrelease.yaml
  kubernetes/apps/selfhosted/node-red/app/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/secret-node-red.sops.yaml
  kubernetes/apps/selfhosted/node-red/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.15.1
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.953
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(freetak): play with ingresses
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
Labels: area/kubernetes

feat: add node-red
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/config/settings.js
  kubernetes/apps/selfhosted/node-red/app/helmrelease.yaml
  kubernetes/apps/selfhosted/node-red/app/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/secret-node-red.sops.yaml
  kubernetes/apps/selfhosted/node-red/ks.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.59
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform b2 to 0.8.9
  terraform/storage/volsync/.terraform.lock.hcl
Labels: area/terraform

fix(flux): add terraform enum to all crd versions
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(container): update image docker.io/meisnate12/plex-meta-manager to v1.20.0
  kubernetes/apps/media/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook ceph group to v1.13.2
  kubernetes/apps/storage/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 70acd00
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.12.0
  infrastructure/gcp-kms.tf
Labels: none

fix: switch issuers over to cloudflare dns01
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.sops.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
  kubernetes/apps/security/cert-manager/issuers/clusterissuer-letsencrypt.yaml
  kubernetes/apps/security/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/security/cert-manager/issuers/secret-cloudflare-api-token.sops.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.5-14
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/database/pgcluster.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.3
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.62
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image flaresolverr/flaresolverr to v3.3.13
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart external-dns to 1.14.1
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.8.3
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.1
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.1.4201
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add wilcard certs
  kubernetes/apps/network/ingress-nginx/external/certificate.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/internal/certificate.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/kustomization.yaml
Labels: area/kubernetes

feat(container): update image maxmindinc/geoipupdate to v6.1
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add dynamic-dns cronjob
  kubernetes/apps/network/dynamic-dns/app/cronjob.yaml
  kubernetes/apps/network/dynamic-dns/app/kustomization.yaml
  kubernetes/apps/network/dynamic-dns/app/role.yaml
  kubernetes/apps/network/dynamic-dns/app/rolebinding.yaml
  kubernetes/apps/network/dynamic-dns/app/serviceaccount.yaml
  kubernetes/apps/network/dynamic-dns/ks.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/home-assistant/home-assistant to v2024.1.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add NoT attachment configuration
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/secret-esphome.sops.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/kustomization.yaml
  kubernetes/apps/network/multus/config/networkattachment-not.yaml
Labels: area/kubernetes

feat(freetak): play with ingresses
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
Labels: area/kubernetes

refactor(cert-manager): archive google domains webhook
  archive/apps/security/cert-manager-webhook/google-domains/helmrelease.yaml
  archive/apps/security/cert-manager-webhook/google-domains/kustomization.yaml
  archive/apps/security/cert-manager-webhook/google-domains/secret-domain-api-key.sops.yaml
  kubernetes/apps/security/cert-manager/ks.yaml
Labels: area/kubernetes

refactor: change web to selfhosted
  kubernetes/apps/selfhosted/hajimari/app/helmrelease.yaml
  kubernetes/apps/selfhosted/hajimari/app/kustomization.yaml
  kubernetes/apps/selfhosted/hajimari/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/namespace.yaml
  kubernetes/apps/selfhosted/theme-park/app/clusterpolicy.yaml
  kubernetes/apps/selfhosted/theme-park/app/config/rdt-client/nord.css
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/kustomization.yaml
  kubernetes/apps/selfhosted/theme-park/ks.yaml
Labels: area/kubernetes
