Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update chart reloader to v1.0.26
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart descheduler to 0.27.1
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 4.67.0
  provision/gcp-kms.tf
Labels: none

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.31.0
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform)!: Update Terraform prowlarr to 2.0.0
  terraform/downloads/prowlarr/.terraform.lock.hcl
  terraform/downloads/prowlarr/main.tf
Labels: area/terraform

fix(github-action): update tj-actions/changed-files action to v36.0.16
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(github-release): update fluxcd/flux2 to v2.0.0-rc.5
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.57.0
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.9
  kubernetes/apps/self-hosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.2
  .github/workflows/renovate.yml
Labels: area/github

fix(container): update image ghcr.io/goauthentik/server to v2023.5.3
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kube-prometheus-stack to 46.6.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.5.3
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.5.2.3484
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart app-template to 1.5.1
  kubernetes/apps/downloads/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/rdt-client/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/self-hosted/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/self-hosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart kyverno to 3.0.1
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.1.8.1883
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(kyverno)!: upgrade to v3
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
  kubernetes/apps/policy/kyverno/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/clusterpolicy.yaml
  kubernetes/apps/self-hosted/theme-park/app/clusterpolicy.yaml
Labels: area/kubernetes

feat(authentik): add new tenant
  kubernetes/apps/security/authentik/app/branding/davishaus-favicon.png
  kubernetes/apps/security/authentik/app/branding/davishaus-logo.svg
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  terraform/security/authentik/applications.tf
  terraform/security/authentik/blueprints.tf
  terraform/security/authentik/flows.tf
  terraform/security/authentik/main.tf
  terraform/security/authentik/provider.tf
  terraform/security/authentik/stages.tf
  terraform/security/authentik/tenants.tf
  terraform/security/authentik/variables.tf
Labels: area/kubernetes, area/terraform

chore(prowlarr): add provision kustomiation
  kubernetes/apps/downloads/prowlarr/provision/kustomization.yaml
Labels: area/kubernetes

feat(github-action): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.17
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(sonarr): upgrade to v4 and add terraform
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/sonarr/provision/kustomization.yaml
  kubernetes/apps/media/sonarr/provision/tf.yaml
  kubernetes/flux/repositories/oci/jefedavis-terraform-sonarr.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
  terraform/media/sonarr/.terraform.lock.hcl
  terraform/media/sonarr/download-client.tf
  terraform/media/sonarr/main.tf
  terraform/media/sonarr/media-management.tf
  terraform/media/sonarr/provider.tf
  terraform/media/sonarr/tags.tf
  terraform/media/sonarr/variables.tf
Labels: area/kubernetes, area/terraform

feat(github-action): update docker/login-action action to v2.2.0
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.18
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 8389671
  kubernetes/apps/devops/actions-runner/runners/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.3
  .github/workflows/renovate.yml
Labels: area/github

feat(github-action): update docker/setup-buildx-action action to v2.6.0
  .github/workflows/publish-schemas.yaml
Labels: area/github

feat(github-action): update docker/setup-qemu-action action to v2.2.0
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix(helm): update chart synology-csi to 0.9.4
  kubernetes/apps/storage/synology-csi/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v36.1.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.31.1
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update docker/build-push-action action to v4.1.0
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix(github-action): update actions/checkout action to v3.5.3
  .github/workflows/broken-link-check.yaml
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/meta-sync-labeler.yaml
  .github/workflows/renovate.yml
Labels: area/github

feat(radarr): add terraform
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/radarr/provision/kustomization.yaml
  kubernetes/apps/media/radarr/provision/tf.yaml
  kubernetes/flux/repositories/oci/jefedavis-terraform-radarr.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
  terraform/media/radarr/.terraform.lock.hcl
  terraform/media/radarr/download-client.tf
  terraform/media/radarr/main.tf
  terraform/media/radarr/media-management.tf
  terraform/media/radarr/provider.tf
  terraform/media/radarr/tags.tf
  terraform/media/radarr/variables.tf
Labels: area/kubernetes, area/terraform

chore(container): update image ghcr.io/onedr0p/lidarr to 89670e9
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr to 7c48762
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/bazarr to 8553bdd
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/readarr-nightly to 5e23d1d
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(media): add recyclarr to flux
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes
