Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack, area/terraform

feat(helm): update chart kured to 4.6.0
  kubernetes/apps/system/kured/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 4.69.1
  infrastructure/gcp-kms.tf
Labels: none

fix(github-action): update renovatebot/github-action action to v38.1.4
  .github/workflows/renovate.yml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v36.2.0
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.2.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

feat(monitor): add loki
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
  kubernetes/apps/monitor/loki/app/kustomization.yaml
  kubernetes/apps/monitor/loki/app/prometheusrule.yaml
  kubernetes/apps/monitor/loki/app/secret-loki.sops.yaml
  kubernetes/apps/monitor/loki/ks.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/lidarr to 580629e
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr to 7b78cd7
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to b45635b
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.1.9.1894
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.539
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/home-assistant/home-assistant to v2023.6.2
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(media): add bazarr to flux
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/pvc.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

refactor: modularize and update renovate workflow
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/renovate.yml
Labels: area/github

feat(media): add lidarr to flux
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/pvc.yaml
  kubernetes/apps/media/lidarr/ks.yaml
Labels: area/kubernetes

feat(vpn): set up conditional vpn-routed namespace
  kubernetes/apps/downloads/namespace.yaml
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat(hajimari): add app portal
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/rdt-client/app/helmrelease.yaml
  kubernetes/apps/home/emqx/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/network/external-services/octoprint.yaml
  kubernetes/apps/network/external-services/unifi.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/self-hosted/hajimari/app/helmrelease.yaml
  kubernetes/apps/self-hosted/hajimari/app/kustomization.yaml
  kubernetes/apps/self-hosted/hajimari/ks.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/theme-park/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/hajimari.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(prometheus): remove malformed route
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

feat(media): convert to statefulSets and add to flux
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/pvc.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/kustomization.yaml
  kubernetes/apps/media/lidarr/app/pvc.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/kustomization.yaml
  kubernetes/apps/media/overseerr/app/pvc.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/readarr/app/kustomization.yaml
  kubernetes/apps/media/readarr/app/pvc.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/pvc.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
  kubernetes/apps/media/wizarr/app/pvc.yaml
Labels: area/kubernetes

refactor(nginx): change 404 page
  kubernetes/apps/network/ingress-nginx/app/dashboard/kustomization.yaml
  kubernetes/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/ks.yaml
Labels: area/kubernetes

refactor: move network policy to downloads and add exclusion selector
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/networkpolicy.yaml
  kubernetes/apps/network/pod-gateway/app/kustomization.yaml
  kubernetes/apps/network/pod-gateway/app/networkpolicy.yaml
Labels: area/kubernetes

feat: add smtp relay and abstract ip addresses to global vars
  .gitignore
  kubernetes/apps/downloads/rdt-client/app/pv.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/common/mount/pv.yaml
  kubernetes/apps/media/plex/app/config/preferences.cfg
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/app/helmrelease.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/metallb/pool/ip-address-pool.yaml
  kubernetes/apps/network/pod-gateway/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/config/maddy.conf
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/app/kustomization.yaml
  kubernetes/apps/network/smtp-relay/ks.yaml
  kubernetes/apps/storage/nfs-subdir/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

refactor: rename monitoring ns to imparative naming
  kubernetes/apps/monitor/grafana/app/externalsecret.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/kustomization.yaml
  kubernetes/apps/monitor/grafana/app/pgcluster.yaml
  kubernetes/apps/monitor/grafana/app/secret-grafana.sops.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/rules/kustomization.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/rules/prometheusrule-dockerhub.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/namespace.yaml
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
  kubernetes/apps/monitor/unpoller/app/kustomization.yaml
  kubernetes/apps/monitor/unpoller/app/secret-unpoller.sops.yaml
  kubernetes/apps/monitor/unpoller/ks.yaml
  kubernetes/apps/monitoring/grafana/app/secret-grafana.sops.yaml
  kubernetes/apps/monitoring/unpoller/app/secret-unpoller.sops.yaml
  kubernetes/apps/network/metallb/app/helmrelease.yaml
  kubernetes/apps/self-hosted/hajimari/app/helmrelease.yaml
  kubernetes/apps/system/kured/app/prometheusrule.yaml
  setup/bootstrap-vault.sh
Labels: area/kubernetes

feat(authentik): add smtp settings
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(vaultwarden): add smtp settings
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes

docs: detail cluster layout
  README.md
Labels: none

feat(workflow): add renovate bot
  .github/renovate-bot.json5
  .github/workflows/renovate.yml
Labels: area/github

feat(prowlarr): add terraform
  .gitignore
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/provision/tf.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/app/secret-tf-cloud-token.sops.yaml
  kubernetes/flux/config/cluster.yaml
  terraform/downloads/prowlarr/.terraform.lock.hcl
  terraform/downloads/prowlarr/applications.tf
  terraform/downloads/prowlarr/download-client.tf
  terraform/downloads/prowlarr/indexer-proxy.tf
  terraform/downloads/prowlarr/main.tf
  terraform/downloads/prowlarr/provider.tf
  terraform/downloads/prowlarr/variables.tf
Labels: area/kubernetes, area/terraform

feat(devops): add github arc system
  kubernetes/apps/devops/actions-runner/controller/helmrelease.yaml
  kubernetes/apps/devops/actions-runner/controller/kustomization.yaml
  kubernetes/apps/devops/actions-runner/ks.yaml
  kubernetes/apps/devops/actions-runner/runners/helmrelease.yaml
  kubernetes/apps/devops/actions-runner/runners/kustomization.yaml
  kubernetes/apps/devops/actions-runner/runners/secret-github-app-config.sops.yaml
  kubernetes/apps/devops/kustomization.yaml
  kubernetes/apps/devops/namespace.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
Labels: area/kubernetes

feat(flux): add terraform controller
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/tf-controller.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
