Repository JefeDavis/k8s-HomeOps, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/talos, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*

refactor: simplify sops configuration
  .sops.yaml
Labels: none

fix(github-action): update tj-actions/changed-files action to v41.1.1
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-terraform-oci.yaml
Labels: area/github

chore(container): update image ghcr.io/jefedavis/kubernetes-schemas to 72bc3a9
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update lycheeverse/lychee-action action to v1.9.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

feat(helm): update chart grafana to 7.2.1
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kyverno to 3.1.3
  kubernetes/apps/policy/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

refactor(SUC): refactor talos plans
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system/system-upgrade-controller/app/serviceaccount.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix: switch issuers over to cloudflare dns01
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.sops.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/security/cert-manager/app/helmrelease.yaml
  kubernetes/apps/security/cert-manager/issuers/clusterissuer-letsencrypt.yaml
  kubernetes/apps/security/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/security/cert-manager/issuers/secret-cloudflare-api-token.sops.yaml
Labels: area/kubernetes

feat(talos): add nut client configuration
  infrastructure/talos/talconfig.yaml
  infrastructure/talos/talenv.sops.yaml
Labels: none

fix(helm): update chart loki to 5.41.7
  kubernetes/apps/monitor/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: add dynamic-dns cronjob
  kubernetes/apps/network/dynamic-dns/app/cronjob.yaml
  kubernetes/apps/network/dynamic-dns/app/kustomization.yaml
  kubernetes/apps/network/dynamic-dns/app/role.yaml
  kubernetes/apps/network/dynamic-dns/app/rolebinding.yaml
  kubernetes/apps/network/dynamic-dns/app/serviceaccount.yaml
  kubernetes/apps/network/dynamic-dns/ks.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 55.8.3
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image rogerfar/rdtclient to v2.0.59
  kubernetes/apps/download/rdt-client/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/esphome/esphome to v2023.12.7
  kubernetes/apps/home/esphome/app/helmrelease.yaml
Labels: area/kubernetes

refactor: change web to selfhosted
  kubernetes/apps/selfhosted/hajimari/app/helmrelease.yaml
  kubernetes/apps/selfhosted/hajimari/app/kustomization.yaml
  kubernetes/apps/selfhosted/hajimari/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/namespace.yaml
  kubernetes/apps/selfhosted/theme-park/app/clusterpolicy.yaml
  kubernetes/apps/selfhosted/theme-park/app/config/rdt-client/nord.css
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
  kubernetes/apps/selfhosted/theme-park/app/kustomization.yaml
  kubernetes/apps/selfhosted/theme-park/ks.yaml
Labels: area/kubernetes

feat(container): update image maxmindinc/geoipupdate to v6.1
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add custom wake word
  kubernetes/apps/home/wyoming-services/app/helmrelease.yaml
  kubernetes/apps/home/wyoming-services/app/hey_piper.tflite
  kubernetes/apps/home/wyoming-services/app/kustomization.yaml
Labels: area/kubernetes

feat: add node-red
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/authentik/provision/tf.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/config/settings.js
  kubernetes/apps/selfhosted/node-red/app/helmrelease.yaml
  kubernetes/apps/selfhosted/node-red/app/kustomization.yaml
  kubernetes/apps/selfhosted/node-red/app/secret-node-red.sops.yaml
  kubernetes/apps/selfhosted/node-red/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.3.16.2387
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/theme-park to v1.15.1
  kubernetes/apps/selfhosted/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.1.953
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.35.1
  kubernetes/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix: give home assistant more memory
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: clean up integrations bootstrap scripts
  infrastructure/talos/deploy-integrations.sh
  infrastructure/talos/integrations/cni/kustomization.yaml
  infrastructure/talos/integrations/kubelet-csr-approver/kustomization.yaml
  kubernetes/apps/network/cilium/app/values.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to 5.12.0
  infrastructure/gcp-kms.tf
Labels: none

fix(container): update image flaresolverr/flaresolverr to v3.3.13
  kubernetes/apps/download/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add NoT attachment configuration
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/home/esphome/app/helmrelease.yaml
  kubernetes/apps/home/esphome/app/secret-esphome.sops.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/kustomization.yaml
  kubernetes/apps/network/multus/config/networkattachment-not.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.12.1.4201
  kubernetes/apps/download/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.5-14
  kubernetes/apps/home/home-assistant/app/pgcluster.yaml
  kubernetes/apps/security/authentik/database/pgcluster.yaml
  kubernetes/apps/security/vaultwarden/database/pgcluster.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.10.6
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 70acd00
  kubernetes/apps/monitor/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(external-dns): add cloudflare configuration
  kubernetes/apps/network/external-dns/crds/crd-dnsendpoint.yaml
  kubernetes/apps/network/external-dns/crds/kustomization.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/secret-external-dns-external.sops.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/kustomization.yaml
  kubernetes/apps/network/external-dns/internal/secret-external-dns-internal.sops.yaml
  kubernetes/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

feat(freetak): play with ingresses
  kubernetes/apps/selfhosted/freetak/app/config/frontend/config.py
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
Labels: area/kubernetes

fix(smtp-relay): correct domain configuration
  kubernetes/apps/network/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reflector to 7.1.238
  kubernetes/apps/system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

feat: add freetak for testing
  kubernetes/apps/selfhosted/freetak/app/config/backend/FTSConfig.yaml
  kubernetes/apps/selfhosted/freetak/app/config/frontend/config.py
  kubernetes/apps/selfhosted/freetak/app/helmrelease.yaml
  kubernetes/apps/selfhosted/freetak/app/kustomization.yaml
  kubernetes/apps/selfhosted/freetak/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.62
  kubernetes/apps/system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(descheduler): update config api
  kubernetes/apps/system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

refactor(mosquitto): add lb svc and esp user
  kubernetes/apps/home/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home/mosquitto/app/secret-mosquitto.sops.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

feat(helm): update chart external-dns to 1.14.1
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
Labels: area/kubernetes
